.ticketForm {
  background: var(--ticket-background);
  color: var(--ticket-color);
  position: relative;
  padding: 25px;
}

.ticketForm .form-control {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 96%;
}