.header {
  img {
    margin-top: 20px;
  }

  nav {
    font-weight: 600;
    margin-bottom: 20px;
    .navbar-brand {
      color: var(--brand-color) !important;
      font-weight: bold;
    }
    .dropdown-toggle {
      color: var(--link-color);
    }
    .dropdown-menu {
      background: var(--navbar-background);
    }
    .sign-out {
      color: var(--color);
    }
    a {
      color: var(--link-color) !important;
      &:focus, &:hover {
        color: var(--link-color-hover) !important;
      }
      &.active {
        color: var(--link-color-active) !important;
      }
    }
  }
}

.footer {
  margin-top: 20px;
  .toggleTheme {
    cursor: pointer;
    color: var(--brand-color) !important;  
  }
}